:root {
    --white: #ffffff;
    --coffee: #6B350E;
    --overlay: #4A2409; /* rgba(74, 36, 9, 1) */
}

body {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    color: var(--coffee);
}

.container {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
    gap: 30px; */
}

#logo {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

header {
    grid-area: header;
    color: var(--white);
    background-image:  linear-gradient(rgba(74, 36, 9, .7), rgba(0,0,0, 0)), url(img/header-photo.png);
    background-size: cover;
}

header h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px 30px 300px;
    margin-bottom: 60px;
    font-weight: 900;
    font-size: 40px;
    line-height: 45px;
    text-shadow: var(--coffee) 1px 0 10px;

}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}

nav li {
    display: inline-flex;
    text-transform: uppercase;
    font-size: 22px;
}

main {
    grid-area: main;
    text-align: center;
}

.add h2 {
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
}

.sign {
    width: 100%;
    height: 84px;
    padding: 20px 0;
}

main img {
    margin: 0 auto;
    max-width: 390px;
}

.features {
    display: block;
    justify-content: center;
    align-content: center;
    text-align: left;
    margin: 0 auto;
    word-wrap: normal;
    max-width: 390px;
    border-radius: 20px;
}

.features img {
    border-radius: 20px;
}

main h3 {
    font-weight: 700;
    font-size: 30px;
}

.menu{
    font-weight: 900;
    font-size: 36px;
    width: 390px;
    height: 300px;
    /* display: block; */
    margin: 20px auto;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-end;
} 

.drink-menu {
    background-image: url(img/drink-menu-photo.png);
    background-size: cover;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.food-menu {
    background-image: url(img/food-menu-photo.png);
    background-size: cover;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;

}

footer {
    grid-area: footer;
    margin-top: 50px;
    border-top: solid 2px rgba(107, 53, 14, 0.4);
    padding-top: 20px;
}

footer > * {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}

footer h2 {
    font-weight: 800;
}

#socials {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

#socials img {
    padding: 0 10px;
}

.copyright {
    font-size: 14px;
    text-transform: uppercase;
}

@media (min-width: 600px) {
    nav ul{
    display: flex;
    justify-content: flex-end;
    }
}